<div class="row">
    <h1>Proyectos y Cursos Realizados</h1>

    <div class="contenedor">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Argentina Programa</h3>
                <p>• Primera etapa (#SeProgramar) y segunda etapa (#YoProgramo) del curso de Argentina Programa.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/argentinaprogramalogo.png" class="img-fluid img-proyecto">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Curso de Crehana:</h3>
                <p>• Ilustración Vectorial de Personajes en Adobe Illustrator.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte3">
                <img src="../../../assets/Img9.png" class="img-fluid img-proyecto">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Curso de Crehana:</h3>
                <p>• Crea tu primer retrato en Pixel Art.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte3">
                <img src="../../../assets/Img4.png" class="img-fluid img-proyecto">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Curso de Crehana:</h3>
                <p>• Dibujo Anatómico para Ilustración Digital.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte3">
                <img src="../../../assets/Img5.png" class="img-fluid img-proyecto">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Curso de Crehana:</h3>
                <p>• Ilustración Vectorial Avanzada en Adobe Illustrator CC.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte3">
                <img src="../../../assets/Img1.png" class="img-fluid img-proyecto">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Curso de Crehana:</h3>
                <p>• Clip Studio Paint desde cero.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte3">
                <img src="../../../assets/Img6.png" class="img-fluid img-proyecto">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Curso de Crehana:</h3>
                <p>• Iluminación avanzada para personajes ilustrados.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte3">
                <img src="../../../assets/Img7.png" class="img-fluid img-proyecto">
            </div>
        </div>
    </div>
</div>