<div class="row">
  <h1>Hard & Soft Skills</h1>

  <div class="circulos">
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'Diseño'"
      [subtitle]= "'Gráfico'"
      [subtitleFontSize]= "'20'"
      [subtitleColor]= "'#444444'"
      [showUnits]="false"
      [showSubtitle]= "true"
      [percent]="100" 
      [radius]="63"    
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="12"
      [outerStrokeGradient]= "true"
      [outerStrokeColor]="'#c139d0'"
      [outerStrokeGradientStopColor]= "'#53a9ff'"
      [space]= "-13"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
      
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'HTML'"
      [showUnits]="false"
      [showSubtitle]= "false"
      [percent]="65" 
      [radius]="63"    
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="12"
      [outerStrokeGradient]= "true"
      [outerStrokeColor]="'#c139d0'"
      [outerStrokeGradientStopColor]= "'#53a9ff'"
      [space]= "-13"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'JavaScript'"
      [showUnits]="false"
      [showSubtitle]= "false"
      [percent]="70" 
      [radius]="63"    
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="12"
      [outerStrokeGradient]= "true"
      [outerStrokeColor]="'#c139d0'"
      [outerStrokeGradientStopColor]= "'#53a9ff'"
      [space]= "-13"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'CSS'"
      [showUnits]="false"
      [showSubtitle]= "false"
      [percent]="60" 
      [radius]="63"    
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="12"
      [outerStrokeGradient]= "true"
      [outerStrokeColor]="'#c139d0'"
      [outerStrokeGradientStopColor]= "'#53a9ff'"
      [space]= "-13"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>  
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'Bootstrap'"
      [showUnits]="false"
      [showSubtitle]= "false"
      [percent]="65" 
      [radius]="63"    
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="12"
      [outerStrokeGradient]= "true"
      [outerStrokeColor]="'#c139d0'"
      [outerStrokeGradientStopColor]= "'#53a9ff'"
      [space]= "-13"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
</div>

<div class="circulos">
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'Paquete Adobe'"
      [titleFontSize]= "'15'"
      [showUnits]="false"
      [showSubtitle]= "false"
      [percent]="70" 
      [radius]="63"    
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="12"
      [outerStrokeGradient]= "true"
      [outerStrokeColor]="'#fdf782'"
      [outerStrokeGradientStopColor]= "'#ff8c8c'"
      [space]= "-13"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'Paquete Office'"
      [titleFontSize]= "'15'"
      [showUnits]="false"
      [showSubtitle]= "false"
      [percent]="85" 
      [radius]="63"    
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="12"
      [outerStrokeGradient]= "true"
      [outerStrokeColor]="'#fdf782'"
      [outerStrokeGradientStopColor]= "'#ff8c8c'"
      [space]= "-13"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'Manejo de'"
      [subtitle]= "'Redes Sociales'"
      [subtitleFontSize]= "'15'"
      [subtitleColor]= "'#444444'"
      [titleFontSize]= "'15'"
      [showUnits]="false"
      [showSubtitle]= "true"
      [percent]="90" 
      [radius]="63"    
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="12"
      [outerStrokeGradient]= "true"
      [outerStrokeColor]="'#fdf782'"
      [outerStrokeGradientStopColor]= "'#ff8c8c'"
      [space]= "-13"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
</div>

<div class="circulos">
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'Ingles'"
      [titleFontSize]= "'15'"
      [showUnits]="false"
      [showSubtitle]= "false"
      [percent]="85" 
      [radius]="63"    
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="12"
      [outerStrokeGradient]= "true"
      [outerStrokeColor]="'#24e6ba'"
      [outerStrokeGradientStopColor]= "'#53a9ff'"
      [space]= "-13"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'Trabajo en'"
      [subtitle]= "'Equipo'"
      [titleFontSize]= "'15'"
      [subtitleFontSize]= "'15'"
      [subtitleColor]= "'#444444'"
      [showUnits]="false"
      [showSubtitle]= "true"
      [percent]="100" 
      [radius]="63"    
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="12"
      [outerStrokeGradient]= "true"
      [outerStrokeColor]="'#24e6ba'"
      [outerStrokeGradientStopColor]= "'#53a9ff'"
      [space]= "-13"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'Comunicación'"
      [titleFontSize]= "'15'"
      [showUnits]="false"
      [showSubtitle]= "false"
      [percent]="100" 
      [radius]="63"    
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="12"
      [outerStrokeGradient]= "true"
      [outerStrokeColor]="'#24e6ba'"
      [outerStrokeGradientStopColor]= "'#53a9ff'"
      [space]= "-13"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [title]="'Responsabilidad'"
      [titleFontSize]= "'15'"
      [showUnits]="false"
      [showSubtitle]= "false"
      [percent]="100" 
      [radius]="63"    
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="12"
      [outerStrokeGradient]= "true"
      [outerStrokeColor]="'#24e6ba'"
      [outerStrokeGradientStopColor]= "'#53a9ff'"
      [space]= "-13"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
    </div>

 </div>



     