<div class="row">

    <div class="perfil">
        <div>
            <img src="../../../assets/34838_1508355519069_7798127_n1.jpg" class="foto">
        </div>

        <div class="datos">
            <p>Micaela Dana Chervet</p>
            <p>Full Stack Developer Jr</p>
        </div>
    </div>

    <div class="texto">
        <h1>Acerca de Mí</h1>
        <p>Me considero una persona amable, responsable, con buena presencia, dinámica y muy creativa, con facilidad
            de adaptación a las necesidades de crecer y mejorar dentro del ámbito laboral, con capacidad de trabajar
            en equipo. Comunicativa y con buena disposición para atención al público y excelente trato con el
            cliente. Con iniciativa para resolver problemas eficientemente y lograr los objetivos propuestos.</p>

    </div>

</div>