<div class="row">
    <div>
        <img src="../../../assets/34838_1508355519069_7798127_n1.jpg" class="img-fluid">
    </div>
    <div>
        <p>Micaela Dana Chervet</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div>
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis aut fuga corrupti eum quas incidunt eos hic. Aliquid hic tempore quae nemo odio distinctio aliquam, magni saepe aspernatur, eaque impedit.</p>
        </span>
    </div>
</div>