<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo2.png" id="logoAP">
        </div>
        <div class="redes">
                <a href=""><img src="../../../assets/linkedin2.png" id=""></a>
                <a href="https://twitter.com/XimkaArt"><img src="../../../assets/Twitter2.png" id=""></a>
                <a href="https://www.instagram.com/_ximkaart/"><img src="../../../assets/Insta2.png" id=""></a>
                <a href="https://github.com/MicadCH/"><img src="../../../assets/github2.png" id=""></a>
                <a href="https://www.facebook.com/XimkaArt/"><img src="../../../assets/facebook2.png" id=""></a>
                
               
                <button type="button"class="boton" >
                    <img src="../../../assets/Ingresar2.png" id="ingresar">
                </button>
                
                
            </div>
    </div>
</div>
