<div class="row">
    <div class="fotodeperfil col-xs-12 col-sm-2 col-md-2 col-lg-2 "  >
        <img src="../../../assets/34838_1508355519069_7798127_n1.jpg" class="foto img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3>
            <p id="nombre">Micaela Dana Chervet</p>
        </h3>
        <h4>
            <p>Full Stack Developer Jr</p>
        </h4>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <h4>
                <p>Me considero una persona responsable, dinámica y creativa, con facilidad de adaptación a las
                    necesidades de evolucionar y mejorar dentro del ámbito laboral, con capacidad de trabajar en equipo.
                    Comunicativa y con buena disposición para atención al público. Con iniciativa para resolver
                    problemas eficientemente y lograr los objetivos trazados por la empresa.</p>
            </h4>
        </span>
    </div>
</div>