<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/34838_1508355519069_7798127_n1.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3><p id="nombre">Micaela Dana Chervet</p></h3>
        <h4><p>Full Stack Developer Jr</p></h4>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis aut fuga corrupti eum quas incidunt eos hic. Aliquid hic tempore quae nemo odio distinctio aliquam, magni saepe aspernatur, eaque impedit.</p></h4>
        </span>
    </div>
</div>